.card{
    max-width: 40%;
    background-color: rgb(250, 250, 250);
    display: flex;
    margin: 10px;
  }
  
  .card--img{
    width: 100%;
    height: 100%;
    
  }
  
  .card-map-logo{
    width: 2vh;
  }
  
  .card-map-title{
    font-size: 2vh;
    font-weight: 500;
    color: gray;
  }

  .card-title{
    font-weight: 700;
  }

